<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1>Editing Book</h1>
        <form action="/books/57664" accept-charset="UTF-8" method="post">…</form>
        <a class="book_57664" href="/books/57664">Show</a>
        |
        <a class="back" href="/books">Back</a>
      </div>
    </div>
  </div>
</main>